## Local dev files
.idea
.venv
.fleet
node_modules
env
*.egg-info
*.pytest_cache
__pycache__
.vscode
*.swp
*.pyc
.coverage*
!.coveragerc
coverage.xml
.DS_Store
*.bak
## Configuration and secrets
secrets
tests/secrets
.npmrc

*.json
!tests/resources/test_settings.json
!tests/manifest.json
!package.json
!package-lock.json
!lang/*.json
!tests/clients.test.json

*.conf
*.crt
*.key
settings.json
idp_metadata.xml

**/*.orig
