## Local dev files
.idea
.venv
.fleet
env
*.egg-info
*.pytest_cache
__pycache__
.vscode
*.swp
*.pyc
.coverage*
.DS_Store
*.bak
## Configuration and secrets
secrets
tests/secrets
clients.json
max.conf
*.crt
*.key
saml/digid/metadata/idp_metadata.xml
saml/tvs/metadata/idp_metadata.xml
saml/digid/advanced_settings.json
saml/digid/settings.json
saml/tvs/advanced_settings.json
saml/tvs/cluster.json
saml/tvs/settings.json