[DEFAULT]
app_name = "CoronaCheck TVS - Digid login"
issuer = https://10.48.118.250:8006

host = 0.0.0.0
port = 8006

debug = True
use_ssl = True
mock_digid = False

[ssl]
base_dir = secrets/ssl
cert_file = certs/apache-selfsigned.crt
key_file = private/apache-selfsigned.key

[oidc]
clients_file = clients.json
rsa_private_key = secrets/private_unencrypted.pem
subject_id_hash_salt = somesalt

[saml]
base_dir = saml
cert_path = saml/certs/sp.crt
key_path = saml/certs/sp.key

[redis]
host = localhost
port = 6379
