[
  {
    "name": "digid_mock",
    "logo": "static/img/digid-logo.svg",
    "text": "Inloggen met DigiD mock",
    "type": "specific"
  },
  {
    "name": "uzipas",
    "logo": "static/img/uzipas.svg",
    "text": "Inloggen met UZI-pas",
    "type": "specific"
  },
  {
    "name": "yivi",
    "logo": "static/img/yivi-logo.svg",
    "text": "Inloggen met Yivi",
    "type": "specific"
  },
  {
    "name": "zsm",
    "logo": "static/img/zsm.svg",
    "text": "Inloggen met OpenID Connect",
    "type": "oidc",
    "hidden": true
  },
  {
    "name": "identities",
    "logo": "",
    "text": "",
    "type": "oidc",
    "hidden": true
  }
]
