# Dependency management.
# Already installed through env setup:
# pip-tools

# fastapi
fastapi
redis
redis-collections
pyop==3.1.1
pycrypto
jinja2
lxml
xmlsec
pynacl
python-multipart

# fastapi optional dependencies
itsdangerous

# Communication with services
python3-saml==1.10.1
zeep==4.0.0
unidecode==1.1.2
requests==2.25.1
