# Dependency management.
# Already installed through env setup:
# pip-tools

# fastapi
fastapi
redis
redis-collections
# pyop==3.2.0 # pip won't use the newest version implicitly
git+git://github.com/IdentityPython/pyop@master

pycryptodome
pyOpenSSL
pyjwt
jinja2
lxml
xmlsec
pynacl
python-multipart
python-dateutil

# type stubs
types-python-dateutil

# fastapi optional dependencies
itsdangerous

# Communication with services
python3-saml==1.12.0
requests==2.26.0

# Force version for dev-req compatibility
idna==3.2