# Dependency management.
# Already installed through env setup:
# pip-tools

# fastapi
fastapi
redis
redis-collections
pyop==3.2.0 # pip won't use the newest version implicitly
pycryptodome
pyOpenSSL
pyjwt
jinja2
lxml
xmlsec
pynacl
python-multipart
python-dateutil

# type stubs
types-python-dateutil

# fastapi optional dependencies
itsdangerous

# Communication with services
python3-saml==1.10.1
zeep==4.0.0
unidecode==1.2.0
requests==2.25.1
