# Global application settings
[app]
name=VAD
# Logging level of the application
loglevel=debug
# One of either (jose, noop); defines the factory that creates the jwe.
jwe_factory=noop
# key that is used to encrypt the output JWE
jwe_encryption_key =/secrets/test_jwe_encryption_key.pem
# Web server settings (development mode only)

[prs]
; One of either (mock,api)
prs_repository=mock
repo_base_url=localhost

;Organisation id, can be any arbitrary string
organisation_id=123

[brp]
mock_brp=True
base_url=http://personen-mock:5010/haalcentraal/api/brp
api_key=