{
  "strict": true,
  "debug": true,
  "clustered": "saml/tvs/cluster.json",
  "sp": {
    "entityId": "urn:nl-eid-gdi:1.0:LC:00000002003182447001:entities:9001",
    "assertionConsumerService": {
      "url": "https://poc-1.uzi.bavod.nl/acs",
      "binding": "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Artifact"
    },
    "attributeConsumingService": {
      "serviceName": "CoronaCheck",
      "serviceDescription": "Test vaccinatie bewijzen inlogservice",
      "requestedAttributes": [
        {
          "index": 1,
          "name": "urn:nl-eid-gdi:1.0:ServiceUUID",
          "isRequired": true,
          "attributeValue": [
            "464f504d-5857-5946-304f-494449414a4d"
          ]
        }
      ]
    }
  },
  "idp": {
    "entityId": "https://was-preprod1.overheid.nl/saml/idp/metadata",
    "singleSignOnService": {
      "url": "https://preprod1.overheid.nl/saml/idp/request_authentication",
      "binding": "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST"
    },
    "x509cert": "<onelogin_connector_cert>"
  }
}