<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>{{ ura_name }} - Inlogmethode selecteren</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/css/manon-mint-green.css" rel="stylesheet">
    <link href="static/css/app.css" rel="stylesheet">
</head>
<body>
<main class="sidemenu">
    {% if sidebar is defined %}
        {% include sidebar %}
    {% endif %}
  <section class="bg-color-offset auth centered">
    {% block body %}{% endblock %}
  </section>
</main>
</body>
</html>
