<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>{{ ura_name }} - Inlogmethode selecteren</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ vite_asset('resources/css/app.scss') }}" rel="stylesheet">
</head>
<body class="{{ "sidemenu" if sidebar is defined }}">
{% if sidebar is defined %}
    {% include sidebar %}
{% endif %}
<div class="page-content">
    <header class="page-header">
        <a href="#main-content" class="button skip-to-content">Ga direct naar inhoud</a>
        <div>
            <div class="logo">
                <img src="static/img/uzi-online-logo.png" alt="Logo UZI-Online">
            </div>
        </div>
    </header>
    <main id="main-content">
        {% block body %}{% endblock %}
    </main>
</div>
</body>
</html>
