<html>
    <head>
        <script type="application/javascript" src="{{ vite_asset('resources/js/submit.js') }}"></script>
    </head>
    <body>
        <noscript>
            <p>Javascript is niet actief in uw browser. Klik op "Doorgaan" om in te loggen.</p>
        </noscript>
        <form method="POST" id="submitForm" action="{{ sso_url }}">
            <input type="hidden" name="SAMLRequest" value="{{ saml_request }}"/>
            <input type="hidden" name="RelayState" value="{{ relay_state }}"/>
            <noscript>
                <input type="submit" value="Doorgaan">
            </noscript>
        </form>
    </body>
</html>
