name: Create release package

on:
  push:
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - uses: actions/checkout@v3

      - name: list files
        run: ls -alR
        
      - name: Add version file
        run: 'echo "{ \"version\": \"${{ env.RELEASE_VERSION }}\", \"git_ref\": \"$GITHUB_SHA\"}" > static/version.json'

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          registry-url: 'https://npm.pkg.github.com'

      - name: Install npm dependencies
        run: npm ci --ignore-scripts
        env:
          NODE_AUTH_TOKEN: ${{ secrets.REPO_READ_ONLY_TOKEN }}

      - name: Run build task for assets
        run: npm run build

      - name: Create tar
        run: tar -czf max_${{ env.RELEASE_VERSION }}.tar.gz ./app ./static ./jinja2 ./saml

      - name: Upload release tar
        uses: actions/upload-artifact@v4
        with:
          name: max_${{ env.RELEASE_VERSION }}
          path: max_${{ env.RELEASE_VERSION }}.tar.gz
