name: Build RDO Python virtual env

on:
  push:
    tags:
      - v*

jobs:
  build:
    strategy:
      matrix:
        python_version: ['3.10', '3.11.2']
    runs-on: ubuntu-22.04
    steps:
      - name: Set env
        run: |
          echo "PIP_NO_BINARY=xmlsec,lxml" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v5

      - name: Prepare environment
        run: |
          sudo apt-get update
          sudo apt-get install libxmlsec1-dev pkg-config

      - name: Build venv package
        uses: minvws/action-python-venv-package@v1
        with:
          python_version: ${{ matrix.python_version }}
          package_file_name: "max"
