name: Build RDO Python virtual env

on:
  push:
    branches: [ build-venv ]
    tags:
      - v*

jobs:
  build:
    strategy:
      matrix:
        python_version: [ '3.10','3.11' ]
    runs-on: ubuntu-22.04
    steps:
      - name: Set env
        run: |
          echo "PACKAGE_FILE_NAME=max" >> $GITHUB_ENV
          echo "PIP_NO_BINARY=xmlsec,lxml" >> $GITHUB_ENV

      - name: Build venv package
        uses: minvws/nl-irealisatie-generic-pipelines/.github/actions/python-venv-package@main
        with:
          python_version: ${{ matrix.python_version }}
          package_file_name: ${{ env.PACKAGE_FILE_NAME }}